.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.image-container > div {
  flex-basis: 35%;
  max-width: 120px;
  text-align: center;
}

figcaption {
  margin-top: 10px;
  text-align: center;
} 

/* 修改 logo 的最大宽度为 100 像素，高度自适应 */
.site-logo img {
  filter: hue-rotate(120deg);
  /* max-width: 100px;
  height: auto; */
}